<!-- <nav>
  <a id="linkProducto" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Producto</a>
  <a id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
  <a id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a>
  <a id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar producto</a>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="linkProducto" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Producto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="linkListarProducto" routerLink="./listar" routerLinkActive="active">Listar producto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
